@font-face{
    font-family: ProductSans;
    src: url(../fonts/ProductSans.ttf) format('ttf');
    src: url(../fonts/ProductSans.woff) format('woff');
    src: url(../fonts/ProductSans.woff2) format('woff2');
    font-style: normal;
    font-weight: normal;

}