@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem = 10px*/ }
  @media only screen and (max-width: 94.1em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 79.5em) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box;
  position: relative;
  font-family: 'Open Sans'; }

@font-face {
  font-family: ProductSans;
  src: url(../fonts/ProductSans.ttf) format("ttf");
  src: url(../fonts/ProductSans.woff) format("woff");
  src: url(../fonts/ProductSans.woff2) format("woff2");
  font-style: normal;
  font-weight: normal; }

.heading-text--main {
  font-size: 6rem;
  font-weight: 400; }

.paragraph-text--main {
  font-size: 24px;
  color: #2d2e31; }

.paragraph-text--sub {
  font-size: 18px;
  color: #2d2e31; }

.subheading-text--main {
  font-size: 32px;
  font-weight: 400; }

.margin-bottom-med {
  margin-bottom: 3.2rem !important; }

/*
@import 'components/button';
@import 'components/card';
@import 'components/projects';
@import 'components/steps';

@import 'layouts/grid';
*/
.header {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 100%), url("../img/header.jpg");
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  padding: 3.6rem 7.2rem;
  overflow-x: hidden; }
  .header__text {
    position: absolute;
    bottom: 8.5%;
    color: #FFF; }
    .header__text--main {
      font-size: 9.6rem;
      font-weight: 700;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
      .header__text--main span {
        display: block; }
    .header__text--sub {
      margin-top: 1.6rem;
      font-size: 3.2rem;
      font-weight: 100; }

.navigation {
  padding: 3.0rem 9.6rem 0rem;
  width: 100%;
  position: fixed;
  z-index: 998;
  display: block;
  height: 9.6rem;
  font-family: 'Open Sans';
  background-color: #FFF; }
  @media only screen and (max-width: 79.5em) {
    .navigation {
      height: 14.4rem;
      padding: 2.4rem 9.6rem 0rem; } }
  @media only screen and (max-width: 65.94em) {
    .navigation {
      padding: 2.4rem 6.4rem 0rem; } }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      padding: 2.4rem 2.4rem 0rem; } }
  .navigation__logo {
    margin-top: -0.2rem;
    display: inline-block;
    width: 35.2rem; }
    @media only screen and (max-width: 79.5em) {
      .navigation__logo {
        margin-top: 1.6rem;
        width: 51.2rem; } }
    @media only screen and (max-width: 65.94em) {
      .navigation__logo {
        width: 12.8rem;
        margin-top: 0rem; } }
  .navigation__link {
    text-decoration: none;
    color: #676C72;
    transition: color .8s; }
    .navigation__link::after {
      content: '';
      display: block;
      width: 0;
      height: 0.4rem;
      margin-top: 2.95rem;
      position: relative;
      background-color: #676C72;
      transition: width .4s;
      border-radius: 0.8rem;
      margin-bottom: 0;
      padding-bottom: 0; }
      @media only screen and (max-width: 94.1em) {
        .navigation__link::after {
          margin-top: 3rem; } }
      @media only screen and (max-width: 79.5em) {
        .navigation__link::after {
          margin-top: 5.60rem; } }
      @media only screen and (max-width: 65.94em) {
        .navigation__link::after {
          margin-top: 5.2rem; } }
    .navigation__link:hover::after {
      width: 100%; }
    .navigation__link--color1:hover {
      color: #EA4335; }
      .navigation__link--color1:hover:hover::after {
        background-color: #EA4335; }
    .navigation__link--color2:hover {
      color: #0F9D58; }
      .navigation__link--color2:hover:hover::after {
        background-color: #0F9D58; }
    .navigation__link--color3:hover {
      color: #4285F4; }
      .navigation__link--color3:hover:hover::after {
        background-color: #4285F4; }
    .navigation__link--color4:hover {
      color: #FBBC04; }
      .navigation__link--color4:hover:hover::after {
        background-color: #FBBC04; }
  .navigation__list {
    font-size: 2.4rem;
    color: #676C72;
    float: right; }
    @media only screen and (max-width: 94.1em) {
      .navigation__list {
        margin-top: 0rem; } }
    @media only screen and (max-width: 79.5em) {
      .navigation__list {
        margin-top: 2.8rem; } }
    @media only screen and (max-width: 65.94em) {
      .navigation__list {
        margin-top: 3.2rem; } }
    @media only screen and (max-width: 56.25em) {
      .navigation__list {
        display: none;
        visibility: hidden; } }
    .navigation__list ul li {
      list-style: none;
      display: inline-block;
      padding: 0 1.6rem; }
      .navigation__list ul li:last-child {
        padding: 0 0 0 1.6rem; }

/*
@import 'layouts/footer';

@import 'pages/about';
*/
.home-about {
  padding: 12.8rem 19.2rem;
  width: 100%;
  position: relative;
  text-align: center;
  background-color: #f1f3f4; }
  .home-about__text {
    margin-bottom: 128px; }
  .home-about__cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center; }
  .home-about__card-item {
    width: 400px;
    height: 480px;
    margin-bottom: 36px; }
  .home-about__card-icon {
    background-color: #4688f1;
    width: 178px;
    height: 178px;
    margin: 0 auto 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 64px; }
